.Popups {
	position: absolute;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	top: 0;
	left: 0;
}

.Popups-container {
	padding: 20px;
}

.Popups-container div {
	margin-bottom: 1.5em;
}

.Popups-normal {
	color: black;
}

.Popups-caps {
	text-transform: uppercase;
}
.Popups-rainbow span {
	width: 100%;
	display: block;
	margin-bottom: .5em;
}
.Popups-rainbow span:nth-child(1){
	color: #FF1A1A;
}
.Popups-rainbow span:nth-child(2){
	color: #FA15FF;
	text-align: right;
	right: 25%;
	position: relative;
}
.Popups-rainbow span:nth-child(3){
	color: #2300FA;
	text-align: right;
}
.Popups-rainbow span:nth-child(4){
	color: #FA9C10;
	text-align: right;
	right: 25%;
	position: relative;
}
.Popups-rainbow span:nth-child(5){
	color: #0DFF5F;
	text-align: right;
	right: 50%;
	position: relative;
}
.Popups-rainbow span:nth-child(6){
	color: #158FFF;
}
.Popups-rainbow span:nth-child(7){
	color: #29A62E;
	right: 50%;
	position: relative;
	text-align: right;
}
.Popups-rainbow span:nth-child(8){
	color: #FA15FF;
	text-align: right;
}
.Popups-orange {
	color: #FA9C10;
	text-transform: uppercase;
}
.Popups-green {
	color: #29A62E;
	text-transform: uppercase;
}
.Popups-g {
	font-size: 32px;
	color: #29A62E;
}
.Popups-p {
	font-size: 32px;
	color: #FA15FF;
}
.Popups-b {
	font-size: 32px;
	color: #158FFF;
}

.Popups-blue {
	color: #158FFF;
}

.Popups-red {
	color: #FF1A1A;
}

.Popups-box {
	background: #E5E5E5;
	max-height: 436px;
	width: 323px;
	float: left;
	overflow: hidden;
	position: absolute;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Popups-box0 {
	left: 5%;
	top: 5%;
}
.Popups-box1 {
	left: 73%;
	top: 3%;
}
.Popups-box2 {
	left: 33%;
	top: 2%;
}
.Popups-box3 {
	left: 35%;
	top: 40%;
}
.Popups-box4 {
	left: 5%;
	top: 48%;
}
.Popups-box5 {
	left: 69%;
	top: 51%;
}
.Popups-box6 {
	left: 17%;
	top: 45%;
}
.Popups-box7 {
	left: 35%;
	top: 54%;
}
.Popups-box8 {
	left: 24%;
	top: 9%;
}
.Popups-box9 {
	left: 72%;
	top: 45%;
}
.Popups-box10 {
	left: 40%;
	top: 14%;
}
.Popups-box11 {
	left: 10%;
	top: 51%;
}
.Popups-box12 {
	left: 45%;
	top: 55%;
}
.Popups-box13 {
	left: 35%;
	top: 45%;
}

@media only screen and (max-width: 900px) {
	.Popups-box1 {
		left: 40%;
		top: 10%;
	}
	.Popups-box2 {
		left: 2%;
		top: 40%;
	}
	.Popups-box3 {
		left: 25%;
		top: 60%;
	}
	.Popups-box4 {
		left: 38%;
		top: 18%;
	}
	.Popups-box5 {
		left: 35%;
		top: 28%;
	}
	.Popups-box6 {
		left: 17%;
		top: 45%;
	}
	.Popups-box7 {
		left: 35%;
		top: 54%;
	}
	.Popups-box8 {
		left: 24%;
		top: 9%;
	}
	.Popups-box9 {
		left: 52%;
		top: 45%;
	}
	.Popups-box10 {
		left: 40%;
		top: 14%;
	}
	.Popups-box11 {
		left: 10%;
		top: 51%;
	}
	.Popups-box12 {
		left: 45%;
		top: 55%;
	}
}

@media only screen and (max-width: 500px) {
	.Popups-box1 {
		left: 15%;
		top: 28%;
	}
	.Popups-box2 {
		left: 2%;
		top: 37%;
	}
	.Popups-box3 {
		left: 24%;
		top: 64%;
	}
	.Popups-box4 {
		left: 9%;
		top: 49%;
	}
	.Popups-box5 {
		left: 19%;
		top: 11%;
	}
	.Popups-box6 {
		left: 17%;
		top: 45%;
	}
	.Popups-box7 {
		left: 25%;
		top: 54%;
	}
	.Popups-box8 {
		left: 24%;
		top: 9%;
	}
	.Popups-box9 {
		left: 22%;
		top: 45%;
	}
	.Popups-box10 {
		left: 20%;
		top: 14%;
	}
	.Popups-box11 {
		left: 10%;
		top: 51%;
	}
	.Popups-box12 {
		left: 25%;
		top: 55%;
	}
	.Popups-box13 {
		left: 19%;
		top: 35%;
	}
}

.Popups-talks {
	margin: 20px;
}

.Popups-title {
	margin: 0 30px;
}

.Popups-purple {
	color: #FA15FF;
	margin: 20px;
}

.Popups-talkTitle {
	color: #6F74F9;
	margin-bottom: 12px;
	display: block;
	text-transform: uppercase;
}

.Popups-talkDescription {
	margin-bottom: 20px;
}
.Popups-talkDescription:last-child {
	margin-bottom: 0;
}

.Popups-no-cursor {
	cursor: auto;
}

.Popups-cursor {
	cursor: grab;
}

.react-draggable strong {
	color: white;
	text-transform: uppercase;
	background: #1005E0;
	display: block;
	padding: 7px 5px;
	text-align: center;
	box-sizing: border-box;
	width: 100%;
	font-family: 'VCR Solid';
	position: relative;
	font-size: 18px;
}

.Popups-joinButtonIcon {
	position: absolute;
	width: 59%;
}

.Popups-joinContainer {
	margin: 150px 0;
}

.Popups-smile {
	position: absolute;
	bottom: 4px;
	color: #1005E0;
	width: 100%;
	text-align: center;
}

@keyframes join {
	50% {color: #FF1A1A;
		  fill: #FF1A1A}
  }

.Popups-join {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 44px;
	text-align: center;
	color: #1005E0;
	animation: join 3s steps(1) infinite;
}

.Popups-join:hover {
	color: #FA15FF;
	animation: none;
}
.Popups-join svg path {
	fill: #1005E0;
	animation: join 3s steps(1) infinite;
}
.Popups-join:hover svg path {
	fill: #FA15FF;
	animation: none;
}

.Popups-close {
	position: absolute;
	right: 8px;
}
.Popups-close:hover {
	cursor: pointer;
}

.Popups-image {
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
}

.Popups-content {
	font-family: 'VCR Solid';
	overflow: auto;
	max-height: 411px;
}

.Popups-content::-webkit-scrollbar {
	width: .4em;
}
 
.Popups-content::-webkit-scrollbar-thumb {
	background-color: black;
}