.About {
	background: black;
	padding: 20px;
	box-sizing: border-box;
	min-height: 100vh;
	display: flex;
}

.About-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 20px;
	z-index: 9999;
	pointer-events: none;
}

.About-row {
	font-family: 'Cirrus Cumulus';
	justify-content: space-between;
	font-size: 9vh;
	color: #ffffffa3;
	display: flex;
	flex-wrap: nowrap;
}

@media only screen and (max-width: 1023px) {
	.About-row {
		font-size: 7vh;
	}
}
@media only screen and (max-width: 740px) {
	.About-row {
		font-size: 5vh;
	}
}
@media only screen and (max-width: 500px) {
	.About-row {
		font-size: 3vh;
		font-weight: bold;;
	}
}

.About-row span {
	white-space: nowrap;
	margin-right: 1em;
}

.About-topLeft {
	grid-column: 1 / span 9;
}

.About-festival {
	grid-column: 6 / span 3;
}

.About-is {
	grid-column: 8 / span 3;
	justify-content: center;
}

.About-celebration {
	grid-column: 5 / span 2;
}

@media only screen and (max-width: 1023px) {
	.About-celebration {
		grid-column: 1 / span 12;
	}
}

.About-community {
	grid-column: 4 / span 8;
}

.About-summer {
	grid-column: 1 / span 1;
}

.About-how {
	grid-column: 6 / span 5;
	justify-content: flex-end;
}

.About-know {
	grid-column: 4 / span 5;
	justify-content: flex-end;
}
.About-love {
	grid-column: 5 / span 8;
	justify-content: flex-end;
}

@media only screen and (max-width: 1023px) {
	.About-know {
		grid-column: 1 / span 12;
	}
}