.Home {
	background: black;
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Home-unauth {
	text-align: center;
}

.Home-title {
	margin: 0;
	font-size: 288px;
	color: white;
	font-family: 'Cirrus Cumulus';
}
.Home-formContainer {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 60px;
}

.Home-form {
	border: solid white 3px;
	border-radius: 42px;
	color: white;
	font-family: 'VCR Solid';
	padding: 20px;
	display: inline-flex;
	margin-top: 160px;
	font-size: 30px;
}

.Home-input {
	border: none;
	border-bottom: solid white 3px;
	padding-left: 12px;
	background-color: unset;
	outline: none;
	font-size: 30px;
	color: white;
	font-family: 'VCR Solid';
}

.Home-link {
	font-size: 30px;
	color: white;
	font-family: 'VCR Solid';
	margin-right: 24px;
}

@media only screen and (max-width: 820px) {
	.Home-title {
		font-size: 220px;
	}
	.Home-form {
		margin: 0 20px;
		font-size: 24px;
	}
	.Home-input {
		font-size: 24px;
		width: 50%;
	}
}

@media only screen and (max-width: 500px) {
	.Home-title {
		font-size: 120px;
	}
	.Home-form {
		margin: 0 20px;
		font-size: 24px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.Home-input {
		margin-top: 20px;
		font-size: 24px;
		width: 90%;
	}

}