.Form {
	font-family: 'VCR Solid';
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	width: 100%;
}

.Form-circle {
	border: solid #FA15FF 5px;
	color: #FA15FF;
	padding: 20px 30px;
	border-radius: 100%;
	margin-bottom: 70px;
	font-size: 36px;
}
.Form-ticket {
	color: #2300FA;
	margin-left: 18px;
	font-size: 36px;
}

.Form-subtotal {
	font-size: 26px;
	color: #2300FA;
	margin-bottom: 1em;
}

.Form-square {
	width: 70%;
}

.Form-tax {
	font-size: 26px;
	color: #2300FA;
	margin-bottom: 3em;
}

.Form-total {
	font-size: 26px;
	color: #2300FA;
}

.Form-data {
	margin-bottom: 1em;
}

.Form-input-label {
	font-size: 26px;
	color: #2300FA;
}

.Form-input {
	border: none;
	border-bottom: solid #2300FA 3px;
	background: none;
	outline: none;
	font-size: 26px;
	color: #2300FA;
	font-family: 'VCR Solid';
	padding-left: 12px;
}

.Form-card {
	margin-top: 3em;
}

.Form-buttonClear {
	display: inline-flex;
	background: none;
	border: none;
	outline: none;
	font-size: 36px;
	cursor: pointer;
	width: 160px;
	text-align: center;
	justify-content: center;
}

.Form-payment {
	display: flex;
}
.Form-validation {
	opacity: 0;
}
.Form-validationShown {
	opacity: 1;
}

.Form-error {
	color: #FF1A1A;
	margin-bottom: 20px;
	transition: opacity 1s linear;
}

.Form-submit {
	border: solid #2300FA 4px;
	color: #FA15FF;
	padding: 30px 20px;
	border-radius: 100%;
	font-size: 23px;
	font-family: 'VCR Solid';
	margin: auto;
}
.Form-back:hover {
	border-color: #2300FA;
	color: #FA15FF;
}
.Form-submit:hover {
	color: #2300FA;
	border-color: #FA15FF;
}

.Form-submit:disabled {
	opacity: .3;
	cursor: unset;
}

.Form-back {
	border: solid #FA15FF 4px;
	color: #2300FA;
	padding: 30px 40px;
	border-radius: 100%;
	font-size: 23px;
	font-family: 'VCR Solid';
	margin-right: 30px
}

.Form-processing {
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0, .7);
	font-size: 48px;
	font-family: 'VCR Solid';
	color: #2300FA;
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Form-processing-container:after {
	color: #2300FA;
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4,end) 1200ms infinite;
	animation: ellipsis steps(4,end) 1200ms infinite;
	content: "\2505"; /* ascii code for the ellipsis character */
	width: 0px;
	font-family: 'VCR Solid';
	margin-left: 6px;
	line-height: 34px;
}

@keyframes ellipsis {
	to {
		width: .8em;
	}
}

@-webkit-keyframes ellipsis {
	to {
		width: .8em;
	}
}

#payment-form {
	display: flex;
	flex-wrap: wrap;
}

@media only screen and (max-width: 1023px) {
	.Form {
		flex-direction: column;
	}
	.Form-right,
	.Form-left {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.Form-circle {
		margin-bottom: 20px;
		margin-top: 20px;
		max-width: 200px;
	}
	.Form-tax {
		margin-bottom: 20px;
	}
	.Form-total {
		margin-bottom: 40px;
	}
	.Form-card {
		margin-top: 0px;
	}
	.Form-buttons {
		display: flex;
		justify-content: center;
	}
	#payment-form {
		justify-content: center;
	}
	.Form-back,
	.Form-submit {
		padding: 20px 5px;
	}
}

@media only screen and (max-width: 700px) {
	.Form-data {
		display: flex;
		flex-direction: column;
	}
	.Form-total {
		margin-bottom: 25px;
	}
	.Form-input {
		width: 90%;
	}
	.Form-subtotal,
	.Form-total,
	.Form-tax {
		font-size: 22px;
	}
	.Form-input-label {
		font-size: 20px;
	}
	.Form-back,
	.Form-submit {
		font-size: 20px;
	}
	.Form-circle,
	.Form-ticket {
		font-size: 24px;
	}
	.Form-error,
	.Form-validationShown {
		margin-right: 20px;
		margin-left: 20px;
		text-align: center;
	}
}

@media only screen and (max-width: 450px) {
	.Form-data {
		display: flex;
		flex-direction: column;
		margin-left: 20px;
	}
	.Form-input {
		width: 90%;
	}
	.Form-subtotal,
	.Form-total,
	.Form-tax {
		font-size: 20px;
	}
	.Form-input-label {
		font-size: 20px;
	}
	.Form-error,
	.Form-validationShown {
		margin-right: 20px;
		margin-left: 20px;
		text-align: center;
	}
	.Form-back,
	.Form-submit {
		font-size: 18px;
	}
}