.Form {
	font-family: 'VCR Solid';
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	width: 100%;
	padding: 40px 63px;
	box-sizing: border-box;
	position: relative;
}
.Form-info {
	margin-right: 60px;
}
.Form-radioContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.Form-circle {
	border: solid #FA15FF 5px;
	color: #FA15FF;
	padding: 20px 30px;
	border-radius: 100%;
	margin-bottom: 70px;
	font-size: 36px;
	display: inline-flex;
}
.Form-ticket {
	color: #2300FA;
	margin-left: 18px;
	font-size: 36px;
}

.Form-subtotal {
	font-size: 26px;
	color: #2300FA;
	margin-bottom: 1em;
}

.Form-square {
	width: 70%;
}

.Form-tax {
	font-size: 26px;
	color: #2300FA;
	margin-bottom: 3em;
}

.Form-money {
	text-transform: uppercase;
}

.Form-total {
	font-size: 26px;
	color: #2300FA;
}

.Form-data {
	margin-bottom: 1em;
}

.Form-input-label {
	font-size: 26px;
	color: #2300FA;
}

.Form-input {
	border: none;
	border-bottom: solid #2300FA 3px;
	background: none;
	outline: none;
	font-size: 26px;
	color: #2300FA;
	font-family: 'VCR Solid';
	padding-left: 12px;
}

.Form-card {
	margin-top: 3em;
}

.Form-buttonClear {
	display: inline-flex;
	background: none;
	border: none;
	outline: none;
	font-size: 36px;
	cursor: pointer;
	width: 160px;
	text-align: center;
	justify-content: center;
	margin-bottom: 20px;
}

.Form-payment {
	display: flex;
}
.Form-validation {
	opacity: 0;
}
.Form-validationShown {
	opacity: 1;
}

.Form-error {
	color: #FF1A1A;
	margin-bottom: 20px;
	transition: opacity 1s linear;
}

.Form-submit {
	border: solid #2300FA 4px;
	color: #FA15FF;
	padding: 30px 20px;
	border-radius: 100%;
	font-size: 23px;
	font-family: 'VCR Solid';
	margin: auto;
	margin-bottom: 20px;
}
.Form-back:hover {
	border-color: #2300FA;
	color: #FA15FF;
}
.Form-submit:hover {
	color: #2300FA;
	border-color: #FA15FF;
}

.Form-submit:disabled {
	opacity: .3;
	cursor: unset;
}

.Form-back {
	border: solid #FA15FF 4px;
	color: #2300FA;
	padding: 30px 40px;
	border-radius: 100%;
	font-size: 23px;
	font-family: 'VCR Solid';
	margin-right: 30px
}

.Form-carpool {
	width: 100%;
	justify-content: left;
}

.Form-processing {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 100vh;
	height: 100%;
	background: rgba(0,0,0, .7);
	font-size: 48px;
	font-family: 'VCR Solid';
	color: #2300FA;
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Form-processing-container:after {
	color: #2300FA;
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4,end) 1200ms infinite;
	animation: ellipsis steps(4,end) 1200ms infinite;
	content: "\2505"; /* ascii code for the ellipsis character */
	width: 0px;
	font-family: 'VCR Solid';
	margin-left: 6px;
	line-height: 34px;
}

@keyframes ellipsis {
	to {
		width: .8em;
	}
}

@-webkit-keyframes ellipsis {
	to {
		width: .8em;
	}
}

#payment-form {
	display: flex;
	flex-wrap: wrap;
}

.Form-radio {
	text-transform: uppercase;
	color: #2300FA;
	font-size: 26px;
	margin-bottom: 1em;
	display: flex;
	flex-wrap: wrap;
	line-height: 1.25em;
}

.Form-top {
	margin-top: 1em;
}

.Form-beforeTextArea {
	margin-bottom: 0;
}

.Form-radio input {
	display: none;
}
.Form-radioLabel {
	margin-right: 12px;
	text-align: left;
}
.Form-radioDivider {
	margin: 0 12px;
}
.Form-radioLabel {
	cursor: pointer;
}
.Form-textArea {
	border: none;
	outline: none;
	background: none;
	background-attachment: local;
	background-image:
		linear-gradient(to right, transparent 10px, transparent 10px),
		linear-gradient(to left, transparent 10px, transparent 10px),
		repeating-linear-gradient(transparent, transparent 33px, #2300FA 28px, #2300FA 36px, #2300FA 36px);
	line-height: 33px;
	padding: 8px 10px;
	resize: none;
	width: 66.66%;
	color: #2300FA;
	font-size: 28px;
	font-family: 'VCR Solid';
}
.Form-radioClick {
	cursor: pointer;
}
.Form-radioClick.Form-radioActive {
	color: #FA15FF;
}
@media only screen and (max-width: 1023px) {
	.Form {
		flex-direction: column;
		padding-top: 40px;
	}
	.Form-info {
		margin-right: 0;
		text-align: center;
	}
	.Form-money {
		text-align: center;
	}
	.Form-circle {
		margin-bottom: 40px;
		margin-top: 20px;
		max-width: 200px;
		margin-left: auto;
		margin-right: auto;
	}
	.Form-carpool {
		width: 100%;
	}
	.Form-tax {
		margin-bottom: 20px;
	}
	.Form-total {
		margin-bottom: 40px;
	}
	.Form-card {
		margin-top: 0px;
	}
	.Form-buttons {
		display: flex;
		justify-content: center;
	}
	#payment-form {
		justify-content: center;
	}
	.Form-back,
	.Form-submit {
		padding: 20px 5px;
	}
}

@media only screen and (max-width: 700px) {
	.Form {
		padding: 20px;
	}
	.Form-data {
		display: flex;
		flex-direction: column;
	}
	.Form-radio {
		justify-content: center;
	}
	.Form-radioLabel {
		text-align: center;
		margin-right: 0;
		width: 100%;
	}
	.Form-info {
		margin-right: 0;
		text-align: center;
	}
	.Form-money {
		text-align: center;
	}
	.Form-total {
		margin-bottom: 25px;
	}
	.Form-carpool {
		width: 100%;
		justify-content: center;
	}
	.Form-subtotal,
	.Form-total,
	.Form-tax {
		font-size: 22px;
	}
	.Form-radioClick,
	.Form-radioLabel,
	.Form-input-label {
		font-size: 20px;
	}
	.Form-back,
	.Form-submit {
		font-size: 20px;
	}
	.Form-circle {
		margin-left: auto;
		margin-right: auto;
	}
	.Form-circle,
	.Form-ticket {
		font-size: 24px;
	}
	.Form-error,
	.Form-validationShown {
		margin-right: 20px;
		margin-left: 20px;
		text-align: center;
	}
}

@media only screen and (max-width: 450px) {
	.Form-data {
		display: flex;
		flex-direction: column;
	}
	.Form-input {
		width: 90%;
	}
	.Form-radio {
		justify-content: center;
	}
	.Form-circle {
		margin-left: auto;
		margin-right: auto;
	}
	.Form-subtotal,
	.Form-total,
	.Form-tax {
		font-size: 20px;
	}
	.Form-radioClick,
	.Form-radioLabel,
	.Form-input-label {
		font-size: 20px;
	}
	.Form-error,
	.Form-validationShown {
		margin-right: 20px;
		margin-left: 20px;
		text-align: center;
	}
	.Form-back,
	.Form-submit {
		font-size: 18px;
	}
}