.HomeLogo {
	color: white;
	font-family: 'Cirrus Cumulus';
	font-size: 140px;
	cursor: pointer;
	text-decoration: none;
	position: absolute;
	top: 0;
	left: 0;
	padding: 40px;
	z-index: 1;
	background: black;
	border-radius: 9px;
}

@media only screen and (max-width: 650px) {
	.HomeLogo {
		width: 100vw;
		text-align: center;
		padding: 0;
		background: #0000008c;
	}
}